<div id="container">
    <!-- Search Bar -->
    <div id="search-container">
        <input 
            type="text" 
            id="search-input" 
            placeholder="Search pensées..." 
            [(ngModel)]="searchTerm"
            (input)="searchPensees()"
        />
        <mat-icon *ngIf="searchTerm" id="clear-icon" (click)="clearSearch()">close</mat-icon>
    </div>
    
    <!-- <mat-form-field class="pensees-search" appearance="fill">
      <mat-label>Search pensées text</mat-label>
      <input type="text" matInput [(ngModel)]="filterBy">
    </mat-form-field> -->
    <!-- <mat-icon class="search-icon">search</mat-icon> -->
    <mat-icon id="refresh-icon" (click)="refreshLiteBrites()">refresh</mat-icon>
    <div class="tooltip"></div>
    <div id="subcontainer">
        <div #chart id="chart"></div>
        <div>
          <!-- Cluster Filter Pills -->
          <div id="cluster-pills-container">
            <div 
              *ngFor="let cluster of clusters" 
              class="cluster-pill" 
              [class.active]="isClusterActive(cluster)"
              [style.background-color]="isClusterActive(cluster) ? getClusterColor(cluster) : '#e0e0e0'"
              (click)="toggleClusterFilter(cluster)">
              {{ cluster + 1 }}
            </div>
          </div>
          
          <div #clusterScatterplot id="cluster-scatterplot" [class.hidden]="isTextViewerExpanded"></div>
          <div id="text-viewer" [class.expanded]="isTextViewerExpanded">
            <div class="text-viewer-header">
              <mat-icon class="expand-icon" (click)="toggleTextViewer()" [title]="isTextViewerExpanded ? 'Collapse' : 'Expand'">
                {{ isTextViewerExpanded ? 'unfold_less' : 'unfold_more' }}
              </mat-icon>
              <div class="info-icon">
                <mat-icon [title]="'Information'">info_outline</mat-icon>
                <div class="info-tooltip">
                  {{message}}
                </div>
              </div>
            </div>
            <div class="text-viewer-content" (click)="refreshLiteBrites()">
            </div>
          </div>
        </div>
    </div>
</div>
