<div id="container">
    <div id="search-container">
        <mat-icon class="search-icon">search</mat-icon>
        <input 
            type="text" 
            id="search-input" 
            placeholder="Search pensées by text, fragment index, or number..."
            [(ngModel)]="searchTerm"
            (input)="searchPensees()"
        />
        <mat-icon 
            id="clear-icon" 
            (click)="clearSearch()"
            *ngIf="searchTerm"
        >close</mat-icon>
    </div>
    <div id="cluster-pills-container">
        <div 
            *ngFor="let cluster of clusterNumbers"
            class="cluster-pill"
            [class.selected]="isClusterSelected(cluster)"
            [style.background-color]="getClusterColor(cluster)"
            (click)="toggleCluster(cluster)"
        >
            Cluster {{ cluster }}
        </div>
    </div>
    <mat-icon id="refresh-icon" (click)="refreshLiteBrites()">refresh</mat-icon>
    <div class="tooltip"></div>
    <div id="subcontainer">
        <div #chart id="chart"></div>
        <div id="text-viewer" (click)="refreshLiteBrites()"><i>{{message}}</i><br><br></div>
    </div>
</div>
