#container {
  height: 100%;
  width: 100%;
}
#subcontainer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 66% 30%; /*100-2-2=96*/
  grid-column-gap: 2%;
}
svg {
  margin-right: 0px;
}
#chart {
  overflow: inherit;
  height: 100%;
  width: 100%;
  // outline: 2px dotted red;
}
#text-viewer {
  // outline: 2px dotted red;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  font-size: 0.9vw;
}
.tooltip {
  position: absolute;
  background: white;
  padding: 1%;
  padding-top: 1% !important;
  margin: auto;
  font-family: "Effra Rg" !important;
  font-size: 0.8vw !important;
  padding-top: 0px;
  vertical-align: middle;
  border-radius: 7px;
  height: auto !important;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 7px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
#refresh-icon {
  position: absolute;
  float: right;
  right: 2vw;
}
.mat-icon {
  // background-color: #707070;
  vertical-align: middle !important;
  // position: sticky !important;
}

.pensees-search {
  font-size: 0.9vw;
}
